name: Tox

on:
    push:
      branches: [ "main", "github-actions" ]
    pull_request:
      branches: [ "main", "github-actions" ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python: ["3.12.4"]

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python }}
            - name: Upgrade pip
              run: python -m pip install --upgrade pip
            - name: Install Tox
              run: pip install tox
            - name: Run Tox
              run: tox
